.layoutTraco{
    margin-left: -50px;
}

.traco {
    box-sizing: border-box 200px;
    width: 2px;
    height: 450px;
    background-color: blueviolet;
    border-radius: 25px;
    background: #270080;
}
